/* ---- reset ---- */ 
body{
    margin:0;
    
} 
canvas{ 
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */ 
#particles-js{ 
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #23153c;
    background-image: url(""); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 

}
#nitt{
    padding: 10px;
}
#optima{
    float:right;
    padding: 10px;
}
.footer{
	position : fixed;
    bottom:0;
    width: 100%;
    padding:20px;
    
}
.footer p{
    text-align: center ;
    font-family: 'Roboto', sans-serif;
    color:#FFF;
    font-size: 10px;
}
    
    @keyframes glowing {
  0% { box-shadow: 0 0 -10px #fc8dd9; }
  40% { box-shadow: 0 0 20px #fc8dd9; }
  60% { box-shadow: 0 0 20px #fc8dd9; }
  100% { box-shadow: 0 0 -10px #fc8dd9; }
}

.cn-wrapper {
  animation: glowing 5000ms infinite;



}
.cn-wrapper ul li{
    animation: glowing 5000ms infinite;
}
.flex-center{
    text-align: center;
}
.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
   
}
.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
  }
}
#nitt{
    float:left;
}
#text{
    
    float:left;
    margin-top:40px;
    margin-left:-15px;
}
#optima{
    float:right;
}
@media screen and (max-width: 1000px){
    #nitt{
        width:100px;
        height: 100px;    
        
    }
    #optima{
        width:200px;
        height:100px;
    }
    #text{
        margin-top:30px;
        margin-left: 0;
        width:300px;
        height: 40px;
        
    }

}
@media screen and (max-width: 600px){
    #nitt{
        width:70px;
        height: 70px;    
        
    }
    #optima{
        width:150px;
        height:80px;
    }
    #text{
        margin-top:20px;
        margin-left: 0;
        width:250px;
        height: 35px;
        
    }

}
@media screen and (max-width: 500px){
    #nitt{
        width:60px;
        height: 60px;    
        
    }
    #optima{
        width:120px;
        height:65px;
    }
    #text{
        margin-top:20px;
        margin-left: 0;
        width:150px;
        height: 25px;
        
    }

}
@media screen and (max-width: 340px){
    #nitt{
        width:50px;
        height: 50px;    
        
    }
    #optima{
        width:90px;
        height:50px;
    }
    #text{
        margin-top:15px;
        margin-left: 0;
        width:120px;
        height: 20px;
        
    }

}