@import url('https://fonts.googleapis.com/css?family=Roboto');
.user_name{
    color:#fff;
}
.user_desk{
    color:#fff;
}
.carousel-inner{
    
    width:100%;
    
}
.top{
    color:white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}
.top p{
    text-align: justify;
    max-width:1000px;
    margin: auto;
    line-height: 2;
    padding: 20px;
    font-size: 16px;
}
#top_h2{
    font-size: 60px;
    padding-top:180px;
    text-align: center;
}
.top h3{
    font-size: 40px;
}
@media screen and (max-width: 1000px){
    #top_h2{
        padding-top:140px;
    }
}
@media screen and (max-width: 600px){
    #top_h2{
        padding-top:120px;
    }
}
@media screen and (max-width: 500px){
    #top_h2{
        padding-top:120px;
    }

}
@media screen and (max-width: 340px){
    #top_h2{
        padding-top:100px;
    }

}